.vscode/

# Environment variables
.env
.env.local
.env.*.local

# virtual environment
nes-env
.condaenv
src/__pycache__/
src/checker/__pycache__/
NesCodeSecExamples/target/
NesCodeSecExamples/.idea/
uv.lock
pyproject.toml
poetry.lock
.DS_Store

# Logs
# *.log
# evaluation.log
# evaluation_results.json

# Testing
test/